dist
design

**/Dockerfile*
**/.dockerignore

**/.git
**/.gitignore
**/.gitattributes

**/.github
**/.devcontainer
**/.env

.editorconfig

**/.idea
**/.vscode
**/.vscode-test/**
**/npm-debug.log

### Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*
